 #header{
    background-color: #7C96AB;
    text-align: center;
    height: 80px;
    top: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;

}
#header h1{
    color: #ffffff;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
} 
.link1,.link2{
    color: rgb(15, 24, 99);
    margin-top: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.link1:hover {
   
    color: #ffffff;
    
}
.link2:hover {
    color: #ffffff;
    
}