
h2{
    color: rgb(29, 70, 105);
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
} 
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    

}
.img{
    padding: 30px;
    border-radius: 50px;
}
#card{
    background-color:  #9bb2c5;
    text-align: center;
    color: aliceblue;
    border-radius: 40px;
}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(29, 70, 105);

}
#button{
    background-color:  rgb(29, 70, 105);
    border: #7C96AB;
    border-radius: 20px;
    color: #ffffff;
    font-family: cursive;
    
}
.linkCard{
    text-decoration: none;
}

