#footer {
    background-color: #7C96AB;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 90px;
    position: fixed;
    scroll-margin-top: 30px;
} 

#author {
    color: #ffffff;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#socialmedia {
    color: #ffffff;
    display: flex;
    margin-right: 200px;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;


}

a {

    text-decoration: none;
    color: #0a2338;
    font-size: 20px;

}

a:hover {
    color: rgb(255, 255, 255);
   
}